<div class="col mb-4">
  <a href="{% if note.redirect %}{{ note.redirect }}{% else %}{{ note.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      <div class="row no-gutters">
        {% if note.img %}
          <div class="col-md-6">
            {% include figure.liquid loading="eager" path=note.img sizes="(min-width: 768px) 156px, 50vw" alt="note thumbnail" class="card-img" %}
          </div>
        {% endif %}
        <div class="{% if note.img %}col-md-6{% else %}col-md-12{% endif %}">
          <div class="card-body d-flex flex-column">
            <h3 class="card-title">{{ note.title }}</h3>
            <p class="card-text flex-grow-1">{{ note.description }}</p>
            <div class="row ml-1 mr-1 p-0">
              {% if note.github %}
                <div class="github-icon">
                  <div class="icon" data-toggle="tooltip" title="Code Repository">
                    <a href="{{ note.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                  </div>
                  {% if note.github_stars %}
                    <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                      <i class="fa-solid fa-star"></i>
                      <span id="{{ note.github_stars }}-stars"></span>
                    </span>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
