---
layout: default
---
<style>
  .profile {
    width: 30% !important;
  }
  .contact-icons i {
    font-size: 2.4rem;
    padding: 4px;
  }
  .social {
    margin-top: -2.5rem !important;
  }
  .publications {
    margin-top: 2rem;
  }
  .news {
    margin-top: 2rem;
  }
</style>

<div class="post">
  <header class="post-header">
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div style="display: flex; align-items: flex-start; gap: 2rem; margin-bottom: 2rem;">
      {% if page.profile %}
        <div class="profile" style="flex: 0 0 36%;">
          {% if page.profile.image %}
            {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
            {% if page.profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1
        rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.48}}px, (min-width: 576px)
        48vw, 95vw"{% endcapture %}
            {%
              include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
              cache_bust=true
            %}
          {% endif %}
          {% if page.profile.more_info %}
            <div class="more-info">{{ page.profile.more_info }}</div>
          {% endif %}
          {% if page.social %}
            <div class="social">
              <div class="contact-icons">{% include social.liquid %}</div>
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div>
        <h1 class="post-title">
          {% if site.title == 'blank' %}
            <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
            {{ site.last_name }}
          {% else %}
            {{ site.title }}
          {% endif %}
        </h1>
        <div style="text-align: justify;">
          {{ content }}
        </div>
      </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; margin: 0 -1rem; width: 115%;">
      <!-- News -->
      <div style="width: 35%; padding: 0 1rem;">
        {% if page.announcements and page.announcements.enabled %}
          <h2>
            <a href="{{ '/news/' | relative_url }}" style="color: inherit"> News</a>
          </h2>
          {% include news.liquid limit=true %}
        {% endif %}
      </div>

      <!-- Selected papers -->
      <div style="width: 65%; padding: 0 0.5rem;">
        {% if page.selected_papers %}
          <h2>
            <a href="{{ '/publications/' | relative_url }}" style="color: inherit"> Publications</a>
          </h2>
          {% include selected_papers.liquid %}
        {% endif %}
      </div>
    </div>

    <!-- Social -->
    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
